{:database  {:contact-points "localhost"
             :default-keyspace "lcmap_changes_dev"}
 :event     {:host "localhost"
             :port 5672}
 :http      {:port 5678
             :join? false
             :daemon? true}
 :server    {:exchange "dev.lcmap.changes.server"
             :queue "dev.lcmap.changes.server"}
 :worker    {:exchange {:name "dev.lcmap.changes.worker"}
             :queue    {:name "dev.lcmap.changes.worker"
                        :bind [["dev.lcmap.changes.server" "ingest"]]}}
 :search     {:url "http://localhost:9200"
              :changes-index "lcmap_changes_dev_ubids"
              :changes-index-type "changes"
              :max-result-size 10000}}
