{:database   {:cluster {:contact-points ["localhost"]}
              :default-keyspace "lcmap_changes_local"}
 :event     {
             :host "localhost"
             :port 5672
             :queues [{:name "local.lcmap.changes.server"
                       :opts {:durable true
                              :exclusive false
                              :auto-delete false}}
                      {:name "local.lcmap.changes.worker"
                       :opts {:durable true
                              :exclusive false
                              :auto-delete false}}]
             :exchanges [{:name "local.lcmap.changes.server"
                          :type "topic"
                          :opts {:durable true}}
                         {:name "local.lcmap.changes.worker"
                          :type "topic"
                          :opts {:durable true}}]
             :bindings [{:exchange "local.lcmap.changes.server"
                         :queue "local.lcmap.changes.worker"
                         :opts {:routing-key "change-detection"}}
                        {:exchange "local.lcmap.changes.worker"
                         :queue "local.lcmap.changes.server"
                         :opts {:routing-key "change-detection"}}]}
 :http       {:port 5778
              :join? false
              :daemon? true}
 :server     {:exchange "local.lcmap.changes.server"
              :queue "local.lcmap.changes.server"}
 :state      {:tile-specs-url "tile-specs.json"}}
