{:database   {:cluster {:contact-points "localhost"}
              :default-keyspace "lcmap_changes_dev"}
 :event     {
             :host "localhost"
             :port 5672
             :queues [{:name "dev.lcmap.changes.server.queue"
                       :opts {:durable true
                              :exclusive false
                              :auto-delete false}}
                      {:name "dev.lcmap.changes.worker.queue"
                       :opts {:durable true
                              :exclusive false
                              :auto-delete false}}]
             :exchanges [{:name "dev.lcmap.changes.server.exchange"
                          :type "topic"
                          :opts {:durable true}}
                         {:name "dev.lcmap.changes.worker.exchange"
                          :type "topic"
                          :opts {:durable true}}]
             :bindings [{:exchange "dev.lcmap.changes.server.exchange"
                         :queue "dev.lcmap.changes.server.queue"
                         :opts {:routing-key "change-detection"}}
                        {:exchange "dev.lcmap.changes.worker.exchange"
                         :queue "dev.lcmap.changes.worker.queue"
                         :opts {:routing-key "change-detection"}}]}
 :http       {:port 5778
              :join? false
              :daemon? true}
 :server     {:exchange "dev.lcmap.changes.worker.exchange"
              :queue "dev.lcmap.changes.server.queue"}
 :state      {:tile-specs-url "data/tile-specs.json"}}
