{:database  {:contact-points "localhost"
             :default-keyspace "lcmap_changes_test"}
 :event     {:host "localhost"
             :port 5672}
 :http      {:port 5679
             :join? false
             :daemon? true}
 :server    {:exchange "test.lcmap.changes.server"
             :queue "test.lcmap.changes.server"}
 :state     {:tile-specs-url "http://localhost:5678/landsat/tile-specs"}}
