{:database  {:cluster {:contact-points "localhost"}
             :default-keyspace "lcmap_changes_unit"}
 :event     {
             :host "localhost"
             :port 5672
             :queues [{:name "unit.lcmap.changes.server"
                       :opts {:durable true
                              :exclusive false
                              :auto-delete false}}
                      {:name "unit.lcmap.changes.worker"
                       :opts {:durable true
                              :exclusive false
                              :auto-delete false}}]
             :exchanges [{:name "unit.lcmap.changes.server"
                          :type "topic"
                          :opts {:durable true}}
                         {:name "unit.lcmap.changes.worker"
                          :type "topic"
                          :opts {:durable true}}]
             :bindings [{:exchange "unit.lcmap.changes.server"
                         :queue "unit.lcmap.changes.server"
                         :opts {:routing-key "change-detection"}}
                        {:exchange "unit.lcmap.changes.worker"
                         :queue "unit.lcmap.changes.worker"
                         :opts {:routing-key "change-detection"}}]}
 :http      {:port 5780
             :join? false
             :daemon? true}
 :server    {:exchange "unit.lcmap.changes.worker"
             :queue    "unit.lcmap.changes.server"}
 :state     {:tile-specs-url "data/tile-specs.json"}}
